<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>주문 결제성공</title>
</head>

<body>

    <section layout:fragment="content">
        <div class="container">
            <div class="card">
                <div>
                    주문 결제성공
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="t-w-16 t-inline-block">주문번호</span>
                        <span class="t-font-bold">123</span>
                    </li>
                    <li class="list-group-item">
                        <span class="t-w-16 t-inline-block">주문번호</span>
                        <span class="t-font-bold">123</span>
                    </li>
                    <li class="list-group-item">
                        <span class="t-w-16 t-inline-block">주문번호</span>
                        <span class="t-font-bold">123</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>